--
-- PostgreSQL database dump
--

\restrict v0GdFanopIoqvI8t8matcSw9Hagfk4Nrj2rh6CwfDu3d4Ecp5AKEPFig4TUPg0B

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

-- Started on 2026-03-27 10:29:44

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- TOC entry 11 (class 2615 OID 2200)
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- TOC entry 3906 (class 0 OID 0)
-- Dependencies: 11
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 348 (class 1259 OID 22126)
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(255) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- TOC entry 337 (class 1259 OID 22020)
-- Name: bulk_output_plan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bulk_output_plan (
    id integer NOT NULL,
    mineral_type character varying(20) NOT NULL,
    created_by_id integer,
    created_at timestamp without time zone,
    status character varying(20) NOT NULL,
    executed_by_id integer,
    executed_at timestamp without time zone,
    customer character varying(100),
    batch_id character varying(100),
    note text,
    plan_json json NOT NULL
);


ALTER TABLE public.bulk_output_plan OWNER TO postgres;

--
-- TOC entry 336 (class 1259 OID 22019)
-- Name: bulk_output_plan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bulk_output_plan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bulk_output_plan_id_seq OWNER TO postgres;

--
-- TOC entry 3910 (class 0 OID 0)
-- Dependencies: 336
-- Name: bulk_output_plan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bulk_output_plan_id_seq OWNED BY public.bulk_output_plan.id;


--
-- TOC entry 345 (class 1259 OID 22092)
-- Name: cassiterite_output; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cassiterite_output (
    id integer NOT NULL,
    stock_id integer NOT NULL,
    date date NOT NULL,
    output_kg double precision NOT NULL,
    batch_id character varying(100),
    customer character varying(100),
    output_amount double precision,
    amount_paid double precision,
    debt_remaining double precision,
    note text,
    voucher_no character varying(100)
);


ALTER TABLE public.cassiterite_output OWNER TO postgres;

--
-- TOC entry 344 (class 1259 OID 22091)
-- Name: cassiterite_output_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cassiterite_output_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cassiterite_output_id_seq OWNER TO postgres;

--
-- TOC entry 3913 (class 0 OID 0)
-- Dependencies: 344
-- Name: cassiterite_output_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cassiterite_output_id_seq OWNED BY public.cassiterite_output.id;


--
-- TOC entry 331 (class 1259 OID 21990)
-- Name: cassiterite_stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cassiterite_stock (
    id integer NOT NULL,
    date date NOT NULL,
    voucher_no character varying(100) NOT NULL,
    supplier character varying(100) NOT NULL,
    input_kg double precision,
    percentage double precision,
    u double precision,
    lme double precision,
    m_lme double precision,
    sec double precision,
    tc double precision,
    u_price double precision,
    exchange double precision,
    transport_tag double precision,
    amount double precision,
    amount_with_taxes double precision,
    tot_amount_tag double precision,
    rma double precision,
    inkomane double precision,
    rra_3_percent double precision,
    local_balance double precision,
    total_local_balance double precision,
    unit_percent double precision,
    t_unity double precision,
    net_balance double precision,
    total_balance double precision,
    balance_to_pay double precision,
    moyenne double precision
);


ALTER TABLE public.cassiterite_stock OWNER TO postgres;

--
-- TOC entry 330 (class 1259 OID 21989)
-- Name: cassiterite_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cassiterite_stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cassiterite_stock_id_seq OWNER TO postgres;

--
-- TOC entry 3916 (class 0 OID 0)
-- Dependencies: 330
-- Name: cassiterite_stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cassiterite_stock_id_seq OWNED BY public.cassiterite_stock.id;


--
-- TOC entry 347 (class 1259 OID 22112)
-- Name: cassiterite_supplier_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cassiterite_supplier_payment (
    id integer NOT NULL,
    stock_id integer NOT NULL,
    amount double precision NOT NULL,
    paid_at timestamp without time zone,
    method character varying(50),
    reference character varying(100),
    note text
);


ALTER TABLE public.cassiterite_supplier_payment OWNER TO postgres;

--
-- TOC entry 346 (class 1259 OID 22111)
-- Name: cassiterite_supplier_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cassiterite_supplier_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cassiterite_supplier_payment_id_seq OWNER TO postgres;

--
-- TOC entry 3919 (class 0 OID 0)
-- Dependencies: 346
-- Name: cassiterite_supplier_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cassiterite_supplier_payment_id_seq OWNED BY public.cassiterite_supplier_payment.id;


--
-- TOC entry 333 (class 1259 OID 21999)
-- Name: cassiterite_worker_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cassiterite_worker_payment (
    id integer NOT NULL,
    worker_name character varying(100) NOT NULL,
    amount double precision NOT NULL,
    paid_at timestamp without time zone,
    method character varying(50),
    reference character varying(100),
    note text
);


ALTER TABLE public.cassiterite_worker_payment OWNER TO postgres;

--
-- TOC entry 332 (class 1259 OID 21998)
-- Name: cassiterite_worker_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cassiterite_worker_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cassiterite_worker_payment_id_seq OWNER TO postgres;

--
-- TOC entry 3922 (class 0 OID 0)
-- Dependencies: 332
-- Name: cassiterite_worker_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cassiterite_worker_payment_id_seq OWNED BY public.cassiterite_worker_payment.id;


--
-- TOC entry 341 (class 1259 OID 22058)
-- Name: copper_output; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.copper_output (
    id integer NOT NULL,
    stock_id integer NOT NULL,
    date date NOT NULL,
    output_kg double precision NOT NULL,
    batch_id character varying(100),
    customer character varying(100),
    output_amount double precision,
    amount_paid double precision,
    debt_remaining double precision,
    note text,
    voucher_no character varying(100)
);


ALTER TABLE public.copper_output OWNER TO postgres;

--
-- TOC entry 340 (class 1259 OID 22057)
-- Name: copper_output_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.copper_output_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.copper_output_id_seq OWNER TO postgres;

--
-- TOC entry 3925 (class 0 OID 0)
-- Dependencies: 340
-- Name: copper_output_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.copper_output_id_seq OWNED BY public.copper_output.id;


--
-- TOC entry 327 (class 1259 OID 21972)
-- Name: copper_stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.copper_stock (
    id integer NOT NULL,
    date date NOT NULL,
    voucher_no character varying(100) NOT NULL,
    supplier character varying(100) NOT NULL,
    input_kg double precision,
    percentage double precision,
    nb double precision,
    u double precision,
    u_price double precision,
    exchange double precision,
    transport_tag double precision,
    amount double precision,
    tot_amount_tag double precision,
    rma double precision,
    inkomane double precision,
    rra_3_percent double precision,
    local_balance double precision,
    total_local_balance double precision,
    unit_percent double precision,
    t_unity double precision,
    net_balance double precision,
    total_balance double precision,
    moyenne double precision,
    moyenne_nb double precision
);


ALTER TABLE public.copper_stock OWNER TO postgres;

--
-- TOC entry 326 (class 1259 OID 21971)
-- Name: copper_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.copper_stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.copper_stock_id_seq OWNER TO postgres;

--
-- TOC entry 3928 (class 0 OID 0)
-- Dependencies: 326
-- Name: copper_stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.copper_stock_id_seq OWNED BY public.copper_stock.id;


--
-- TOC entry 335 (class 1259 OID 22008)
-- Name: notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notification (
    id integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp without time zone,
    read_at timestamp without time zone,
    type character varying(50) NOT NULL,
    message character varying(255) NOT NULL,
    related_type character varying(50),
    related_id integer
);


ALTER TABLE public.notification OWNER TO postgres;

--
-- TOC entry 334 (class 1259 OID 22007)
-- Name: notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notification_id_seq OWNER TO postgres;

--
-- TOC entry 3931 (class 0 OID 0)
-- Dependencies: 334
-- Name: notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notification_id_seq OWNED BY public.notification.id;


--
-- TOC entry 339 (class 1259 OID 22039)
-- Name: payment_review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_review (
    id integer NOT NULL,
    mineral_type character varying(20),
    type character varying(32),
    customer character varying(100) NOT NULL,
    amount double precision NOT NULL,
    currency character varying(10),
    payment_id integer,
    created_by_id integer NOT NULL,
    created_at timestamp without time zone,
    status character varying(20) NOT NULL,
    reviewed_by_id integer,
    reviewed_at timestamp without time zone,
    boss_comment text
);


ALTER TABLE public.payment_review OWNER TO postgres;

--
-- TOC entry 338 (class 1259 OID 22038)
-- Name: payment_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payment_review_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_review_id_seq OWNER TO postgres;

--
-- TOC entry 3934 (class 0 OID 0)
-- Dependencies: 338
-- Name: payment_review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.payment_review_id_seq OWNED BY public.payment_review.id;


--
-- TOC entry 343 (class 1259 OID 22078)
-- Name: supplier_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplier_payment (
    id integer NOT NULL,
    stock_id integer NOT NULL,
    amount double precision NOT NULL,
    paid_at timestamp without time zone,
    method character varying(50),
    reference character varying(100),
    note text
);


ALTER TABLE public.supplier_payment OWNER TO postgres;

--
-- TOC entry 342 (class 1259 OID 22077)
-- Name: supplier_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.supplier_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.supplier_payment_id_seq OWNER TO postgres;

--
-- TOC entry 3937 (class 0 OID 0)
-- Dependencies: 342
-- Name: supplier_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.supplier_payment_id_seq OWNED BY public.supplier_payment.id;


--
-- TOC entry 325 (class 1259 OID 21961)
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    username character varying(64) NOT NULL,
    email character varying(120),
    password_hash character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    is_active boolean,
    created_at timestamp without time zone
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- TOC entry 324 (class 1259 OID 21960)
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- TOC entry 3940 (class 0 OID 0)
-- Dependencies: 324
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- TOC entry 329 (class 1259 OID 21981)
-- Name: worker_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.worker_payment (
    id integer NOT NULL,
    worker_name character varying(100) NOT NULL,
    amount double precision NOT NULL,
    paid_at timestamp without time zone,
    method character varying(50),
    reference character varying(100),
    note text
);


ALTER TABLE public.worker_payment OWNER TO postgres;

--
-- TOC entry 328 (class 1259 OID 21980)
-- Name: worker_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.worker_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.worker_payment_id_seq OWNER TO postgres;

--
-- TOC entry 3943 (class 0 OID 0)
-- Dependencies: 328
-- Name: worker_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.worker_payment_id_seq OWNED BY public.worker_payment.id;


--
-- TOC entry 3668 (class 2604 OID 22023)
-- Name: bulk_output_plan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bulk_output_plan ALTER COLUMN id SET DEFAULT nextval('public.bulk_output_plan_id_seq'::regclass);


--
-- TOC entry 3672 (class 2604 OID 22095)
-- Name: cassiterite_output id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_output ALTER COLUMN id SET DEFAULT nextval('public.cassiterite_output_id_seq'::regclass);


--
-- TOC entry 3665 (class 2604 OID 21993)
-- Name: cassiterite_stock id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_stock ALTER COLUMN id SET DEFAULT nextval('public.cassiterite_stock_id_seq'::regclass);


--
-- TOC entry 3673 (class 2604 OID 22115)
-- Name: cassiterite_supplier_payment id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_supplier_payment ALTER COLUMN id SET DEFAULT nextval('public.cassiterite_supplier_payment_id_seq'::regclass);


--
-- TOC entry 3666 (class 2604 OID 22002)
-- Name: cassiterite_worker_payment id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_worker_payment ALTER COLUMN id SET DEFAULT nextval('public.cassiterite_worker_payment_id_seq'::regclass);


--
-- TOC entry 3670 (class 2604 OID 22061)
-- Name: copper_output id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.copper_output ALTER COLUMN id SET DEFAULT nextval('public.copper_output_id_seq'::regclass);


--
-- TOC entry 3663 (class 2604 OID 21975)
-- Name: copper_stock id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.copper_stock ALTER COLUMN id SET DEFAULT nextval('public.copper_stock_id_seq'::regclass);


--
-- TOC entry 3667 (class 2604 OID 22011)
-- Name: notification id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification ALTER COLUMN id SET DEFAULT nextval('public.notification_id_seq'::regclass);


--
-- TOC entry 3669 (class 2604 OID 22042)
-- Name: payment_review id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_review ALTER COLUMN id SET DEFAULT nextval('public.payment_review_id_seq'::regclass);


--
-- TOC entry 3671 (class 2604 OID 22081)
-- Name: supplier_payment id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_payment ALTER COLUMN id SET DEFAULT nextval('public.supplier_payment_id_seq'::regclass);


--
-- TOC entry 3662 (class 2604 OID 21964)
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- TOC entry 3664 (class 2604 OID 21984)
-- Name: worker_payment id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.worker_payment ALTER COLUMN id SET DEFAULT nextval('public.worker_payment_id_seq'::regclass);


--
-- TOC entry 3900 (class 0 OID 22126)
-- Dependencies: 348
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
6ce8f251b323
\.


--
-- TOC entry 3889 (class 0 OID 22020)
-- Dependencies: 337
-- Data for Name: bulk_output_plan; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3897 (class 0 OID 22092)
-- Dependencies: 345
-- Data for Name: cassiterite_output; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3883 (class 0 OID 21990)
-- Dependencies: 331
-- Data for Name: cassiterite_stock; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3899 (class 0 OID 22112)
-- Dependencies: 347
-- Data for Name: cassiterite_supplier_payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cassiterite_supplier_payment (id, stock_id, amount, paid_at, method, reference, note) FROM stdin;
\.


--
-- TOC entry 3885 (class 0 OID 21999)
-- Dependencies: 333
-- Data for Name: cassiterite_worker_payment; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3893 (class 0 OID 22058)
-- Dependencies: 341
-- Data for Name: copper_output; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.copper_output (id, stock_id, date, output_kg, batch_id, customer, output_amount, amount_paid, debt_remaining, note, voucher_no) FROM stdin;
2	13	2026-03-24	4.4	rugwiro_20260324_bbb24c	Rugwiro	56000	45000	11000	Bulk output from optimization	\N
3	15	2026-03-25	42	\N	Arsene Antonio	70000	400000	-330000		\N
1	7	2026-03-24	23.9	ihirwe_benjamin_20260324_1629db	Ihirwe Benjamin	7000000	6200000	800000	We sold coltan of 49.46 moyeene to Benjamin.	\N
\.


--
-- TOC entry 3879 (class 0 OID 21972)
-- Dependencies: 327
-- Data for Name: copper_stock; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3887 (class 0 OID 22008)
-- Dependencies: 335
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3891 (class 0 OID 22039)
-- Dependencies: 339
-- Data for Name: payment_review; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3895 (class 0 OID 22078)
-- Dependencies: 343
-- Data for Name: supplier_payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplier_payment (id, stock_id, amount, paid_at, method, reference, note) FROM stdin;
1	13	50000	2026-03-24 20:51:12.886284	cash		
\.


--
-- TOC entry 3877 (class 0 OID 21961)
-- Dependencies: 325
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3881 (class 0 OID 21981)
-- Dependencies: 329
-- Data for Name: worker_payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.worker_payment (id, worker_name, amount, paid_at, method, reference, note) FROM stdin;
\.


--
-- TOC entry 3945 (class 0 OID 0)
-- Dependencies: 336
-- Name: bulk_output_plan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bulk_output_plan_id_seq', 4, true);


--
-- TOC entry 3946 (class 0 OID 0)
-- Dependencies: 344
-- Name: cassiterite_output_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cassiterite_output_id_seq', 3, true);


--
-- TOC entry 3947 (class 0 OID 0)
-- Dependencies: 330
-- Name: cassiterite_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cassiterite_stock_id_seq', 5, true);


--
-- TOC entry 3948 (class 0 OID 0)
-- Dependencies: 346
-- Name: cassiterite_supplier_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cassiterite_supplier_payment_id_seq', 1, false);


--
-- TOC entry 3949 (class 0 OID 0)
-- Dependencies: 332
-- Name: cassiterite_worker_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cassiterite_worker_payment_id_seq', 7, true);


--
-- TOC entry 3950 (class 0 OID 0)
-- Dependencies: 340
-- Name: copper_output_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.copper_output_id_seq', 3, true);


--
-- TOC entry 3951 (class 0 OID 0)
-- Dependencies: 326
-- Name: copper_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.copper_stock_id_seq', 15, true);


--
-- TOC entry 3952 (class 0 OID 0)
-- Dependencies: 334
-- Name: notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notification_id_seq', 27, true);


--
-- TOC entry 3953 (class 0 OID 0)
-- Dependencies: 338
-- Name: payment_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payment_review_id_seq', 10, true);


--
-- TOC entry 3954 (class 0 OID 0)
-- Dependencies: 342
-- Name: supplier_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplier_payment_id_seq', 1, true);


--
-- TOC entry 3955 (class 0 OID 0)
-- Dependencies: 324
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 5, true);


--
-- TOC entry 3956 (class 0 OID 0)
-- Dependencies: 328
-- Name: worker_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.worker_payment_id_seq', 1, false);


--
-- TOC entry 3715 (class 2606 OID 25577)
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- TOC entry 3701 (class 2606 OID 22027)
-- Name: bulk_output_plan bulk_output_plan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bulk_output_plan
    ADD CONSTRAINT bulk_output_plan_pkey PRIMARY KEY (id);


--
-- TOC entry 3710 (class 2606 OID 22099)
-- Name: cassiterite_output cassiterite_output_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_output
    ADD CONSTRAINT cassiterite_output_pkey PRIMARY KEY (id);


--
-- TOC entry 3690 (class 2606 OID 21995)
-- Name: cassiterite_stock cassiterite_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_stock
    ADD CONSTRAINT cassiterite_stock_pkey PRIMARY KEY (id);


--
-- TOC entry 3692 (class 2606 OID 21997)
-- Name: cassiterite_stock cassiterite_stock_voucher_no_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_stock
    ADD CONSTRAINT cassiterite_stock_voucher_no_key UNIQUE (voucher_no);


--
-- TOC entry 3713 (class 2606 OID 22119)
-- Name: cassiterite_supplier_payment cassiterite_supplier_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_supplier_payment
    ADD CONSTRAINT cassiterite_supplier_payment_pkey PRIMARY KEY (id);


--
-- TOC entry 3697 (class 2606 OID 22006)
-- Name: cassiterite_worker_payment cassiterite_worker_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_worker_payment
    ADD CONSTRAINT cassiterite_worker_payment_pkey PRIMARY KEY (id);


--
-- TOC entry 3705 (class 2606 OID 22065)
-- Name: copper_output copper_output_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.copper_output
    ADD CONSTRAINT copper_output_pkey PRIMARY KEY (id);


--
-- TOC entry 3681 (class 2606 OID 21977)
-- Name: copper_stock copper_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.copper_stock
    ADD CONSTRAINT copper_stock_pkey PRIMARY KEY (id);


--
-- TOC entry 3683 (class 2606 OID 21979)
-- Name: copper_stock copper_stock_voucher_no_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.copper_stock
    ADD CONSTRAINT copper_stock_voucher_no_key UNIQUE (voucher_no);


--
-- TOC entry 3699 (class 2606 OID 22013)
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY (id);


--
-- TOC entry 3703 (class 2606 OID 22046)
-- Name: payment_review payment_review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_review
    ADD CONSTRAINT payment_review_pkey PRIMARY KEY (id);


--
-- TOC entry 3708 (class 2606 OID 22085)
-- Name: supplier_payment supplier_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_payment
    ADD CONSTRAINT supplier_payment_pkey PRIMARY KEY (id);


--
-- TOC entry 3675 (class 2606 OID 21970)
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- TOC entry 3677 (class 2606 OID 21966)
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- TOC entry 3679 (class 2606 OID 21968)
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- TOC entry 3688 (class 2606 OID 21988)
-- Name: worker_payment worker_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.worker_payment
    ADD CONSTRAINT worker_payment_pkey PRIMARY KEY (id);


--
-- TOC entry 3711 (class 1259 OID 22110)
-- Name: ix_cassiterite_output_batch_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_cassiterite_output_batch_id ON public.cassiterite_output USING btree (batch_id);


--
-- TOC entry 3693 (class 1259 OID 25581)
-- Name: ix_cassiterite_stock_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_cassiterite_stock_date ON public.cassiterite_stock USING btree (date);


--
-- TOC entry 3694 (class 1259 OID 25582)
-- Name: ix_cassiterite_stock_date_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_cassiterite_stock_date_id ON public.cassiterite_stock USING btree (date, id);


--
-- TOC entry 3695 (class 1259 OID 25583)
-- Name: ix_cassiterite_stock_local_balance; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_cassiterite_stock_local_balance ON public.cassiterite_stock USING btree (local_balance);


--
-- TOC entry 3706 (class 1259 OID 22076)
-- Name: ix_copper_output_batch_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_copper_output_batch_id ON public.copper_output USING btree (batch_id);


--
-- TOC entry 3684 (class 1259 OID 25578)
-- Name: ix_copper_stock_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_copper_stock_date ON public.copper_stock USING btree (date);


--
-- TOC entry 3685 (class 1259 OID 25579)
-- Name: ix_copper_stock_date_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_copper_stock_date_id ON public.copper_stock USING btree (date, id);


--
-- TOC entry 3686 (class 1259 OID 25580)
-- Name: ix_copper_stock_local_balance; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_copper_stock_local_balance ON public.copper_stock USING btree (local_balance);


--
-- TOC entry 3717 (class 2606 OID 22028)
-- Name: bulk_output_plan bulk_output_plan_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bulk_output_plan
    ADD CONSTRAINT bulk_output_plan_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public."user"(id);


--
-- TOC entry 3718 (class 2606 OID 22033)
-- Name: bulk_output_plan bulk_output_plan_executed_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bulk_output_plan
    ADD CONSTRAINT bulk_output_plan_executed_by_id_fkey FOREIGN KEY (executed_by_id) REFERENCES public."user"(id);


--
-- TOC entry 3724 (class 2606 OID 22100)
-- Name: cassiterite_output cassiterite_output_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_output
    ADD CONSTRAINT cassiterite_output_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.cassiterite_stock(id);


--
-- TOC entry 3725 (class 2606 OID 22105)
-- Name: cassiterite_output cassiterite_output_voucher_no_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_output
    ADD CONSTRAINT cassiterite_output_voucher_no_fkey FOREIGN KEY (voucher_no) REFERENCES public.cassiterite_stock(voucher_no);


--
-- TOC entry 3726 (class 2606 OID 22120)
-- Name: cassiterite_supplier_payment cassiterite_supplier_payment_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cassiterite_supplier_payment
    ADD CONSTRAINT cassiterite_supplier_payment_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.cassiterite_stock(id);


--
-- TOC entry 3721 (class 2606 OID 22066)
-- Name: copper_output copper_output_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.copper_output
    ADD CONSTRAINT copper_output_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.copper_stock(id);


--
-- TOC entry 3722 (class 2606 OID 22071)
-- Name: copper_output copper_output_voucher_no_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.copper_output
    ADD CONSTRAINT copper_output_voucher_no_fkey FOREIGN KEY (voucher_no) REFERENCES public.copper_stock(voucher_no);


--
-- TOC entry 3716 (class 2606 OID 22014)
-- Name: notification notification_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id);


--
-- TOC entry 3719 (class 2606 OID 22047)
-- Name: payment_review payment_review_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_review
    ADD CONSTRAINT payment_review_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public."user"(id);


--
-- TOC entry 3720 (class 2606 OID 22052)
-- Name: payment_review payment_review_reviewed_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_review
    ADD CONSTRAINT payment_review_reviewed_by_id_fkey FOREIGN KEY (reviewed_by_id) REFERENCES public."user"(id);


--
-- TOC entry 3723 (class 2606 OID 22086)
-- Name: supplier_payment supplier_payment_stock_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplier_payment
    ADD CONSTRAINT supplier_payment_stock_id_fkey FOREIGN KEY (stock_id) REFERENCES public.copper_stock(id);


--
-- TOC entry 3907 (class 0 OID 0)
-- Dependencies: 11
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO postgres;
GRANT USAGE ON SCHEMA public TO anon;
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO service_role;
GRANT USAGE ON SCHEMA public TO backup_user;


--
-- TOC entry 3908 (class 0 OID 0)
-- Dependencies: 348
-- Name: TABLE alembic_version; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.alembic_version TO anon;
GRANT ALL ON TABLE public.alembic_version TO authenticated;
GRANT ALL ON TABLE public.alembic_version TO service_role;
GRANT SELECT ON TABLE public.alembic_version TO backup_user;


--
-- TOC entry 3909 (class 0 OID 0)
-- Dependencies: 337
-- Name: TABLE bulk_output_plan; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.bulk_output_plan TO anon;
GRANT ALL ON TABLE public.bulk_output_plan TO authenticated;
GRANT ALL ON TABLE public.bulk_output_plan TO service_role;
GRANT SELECT ON TABLE public.bulk_output_plan TO backup_user;


--
-- TOC entry 3911 (class 0 OID 0)
-- Dependencies: 336
-- Name: SEQUENCE bulk_output_plan_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.bulk_output_plan_id_seq TO anon;
GRANT ALL ON SEQUENCE public.bulk_output_plan_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.bulk_output_plan_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.bulk_output_plan_id_seq TO backup_user;


--
-- TOC entry 3912 (class 0 OID 0)
-- Dependencies: 345
-- Name: TABLE cassiterite_output; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.cassiterite_output TO anon;
GRANT ALL ON TABLE public.cassiterite_output TO authenticated;
GRANT ALL ON TABLE public.cassiterite_output TO service_role;
GRANT SELECT ON TABLE public.cassiterite_output TO backup_user;


--
-- TOC entry 3914 (class 0 OID 0)
-- Dependencies: 344
-- Name: SEQUENCE cassiterite_output_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.cassiterite_output_id_seq TO anon;
GRANT ALL ON SEQUENCE public.cassiterite_output_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.cassiterite_output_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.cassiterite_output_id_seq TO backup_user;


--
-- TOC entry 3915 (class 0 OID 0)
-- Dependencies: 331
-- Name: TABLE cassiterite_stock; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.cassiterite_stock TO anon;
GRANT ALL ON TABLE public.cassiterite_stock TO authenticated;
GRANT ALL ON TABLE public.cassiterite_stock TO service_role;
GRANT SELECT ON TABLE public.cassiterite_stock TO backup_user;


--
-- TOC entry 3917 (class 0 OID 0)
-- Dependencies: 330
-- Name: SEQUENCE cassiterite_stock_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.cassiterite_stock_id_seq TO anon;
GRANT ALL ON SEQUENCE public.cassiterite_stock_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.cassiterite_stock_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.cassiterite_stock_id_seq TO backup_user;


--
-- TOC entry 3918 (class 0 OID 0)
-- Dependencies: 347
-- Name: TABLE cassiterite_supplier_payment; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.cassiterite_supplier_payment TO anon;
GRANT ALL ON TABLE public.cassiterite_supplier_payment TO authenticated;
GRANT ALL ON TABLE public.cassiterite_supplier_payment TO service_role;
GRANT SELECT ON TABLE public.cassiterite_supplier_payment TO backup_user;


--
-- TOC entry 3920 (class 0 OID 0)
-- Dependencies: 346
-- Name: SEQUENCE cassiterite_supplier_payment_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.cassiterite_supplier_payment_id_seq TO anon;
GRANT ALL ON SEQUENCE public.cassiterite_supplier_payment_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.cassiterite_supplier_payment_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.cassiterite_supplier_payment_id_seq TO backup_user;


--
-- TOC entry 3921 (class 0 OID 0)
-- Dependencies: 333
-- Name: TABLE cassiterite_worker_payment; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.cassiterite_worker_payment TO anon;
GRANT ALL ON TABLE public.cassiterite_worker_payment TO authenticated;
GRANT ALL ON TABLE public.cassiterite_worker_payment TO service_role;
GRANT SELECT ON TABLE public.cassiterite_worker_payment TO backup_user;


--
-- TOC entry 3923 (class 0 OID 0)
-- Dependencies: 332
-- Name: SEQUENCE cassiterite_worker_payment_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.cassiterite_worker_payment_id_seq TO anon;
GRANT ALL ON SEQUENCE public.cassiterite_worker_payment_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.cassiterite_worker_payment_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.cassiterite_worker_payment_id_seq TO backup_user;


--
-- TOC entry 3924 (class 0 OID 0)
-- Dependencies: 341
-- Name: TABLE copper_output; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.copper_output TO anon;
GRANT ALL ON TABLE public.copper_output TO authenticated;
GRANT ALL ON TABLE public.copper_output TO service_role;
GRANT SELECT ON TABLE public.copper_output TO backup_user;


--
-- TOC entry 3926 (class 0 OID 0)
-- Dependencies: 340
-- Name: SEQUENCE copper_output_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.copper_output_id_seq TO anon;
GRANT ALL ON SEQUENCE public.copper_output_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.copper_output_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.copper_output_id_seq TO backup_user;


--
-- TOC entry 3927 (class 0 OID 0)
-- Dependencies: 327
-- Name: TABLE copper_stock; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.copper_stock TO anon;
GRANT ALL ON TABLE public.copper_stock TO authenticated;
GRANT ALL ON TABLE public.copper_stock TO service_role;
GRANT SELECT ON TABLE public.copper_stock TO backup_user;


--
-- TOC entry 3929 (class 0 OID 0)
-- Dependencies: 326
-- Name: SEQUENCE copper_stock_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.copper_stock_id_seq TO anon;
GRANT ALL ON SEQUENCE public.copper_stock_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.copper_stock_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.copper_stock_id_seq TO backup_user;


--
-- TOC entry 3930 (class 0 OID 0)
-- Dependencies: 335
-- Name: TABLE notification; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.notification TO anon;
GRANT ALL ON TABLE public.notification TO authenticated;
GRANT ALL ON TABLE public.notification TO service_role;
GRANT SELECT ON TABLE public.notification TO backup_user;


--
-- TOC entry 3932 (class 0 OID 0)
-- Dependencies: 334
-- Name: SEQUENCE notification_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.notification_id_seq TO anon;
GRANT ALL ON SEQUENCE public.notification_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.notification_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.notification_id_seq TO backup_user;


--
-- TOC entry 3933 (class 0 OID 0)
-- Dependencies: 339
-- Name: TABLE payment_review; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.payment_review TO anon;
GRANT ALL ON TABLE public.payment_review TO authenticated;
GRANT ALL ON TABLE public.payment_review TO service_role;
GRANT SELECT ON TABLE public.payment_review TO backup_user;


--
-- TOC entry 3935 (class 0 OID 0)
-- Dependencies: 338
-- Name: SEQUENCE payment_review_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.payment_review_id_seq TO anon;
GRANT ALL ON SEQUENCE public.payment_review_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.payment_review_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.payment_review_id_seq TO backup_user;


--
-- TOC entry 3936 (class 0 OID 0)
-- Dependencies: 343
-- Name: TABLE supplier_payment; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.supplier_payment TO anon;
GRANT ALL ON TABLE public.supplier_payment TO authenticated;
GRANT ALL ON TABLE public.supplier_payment TO service_role;
GRANT SELECT ON TABLE public.supplier_payment TO backup_user;


--
-- TOC entry 3938 (class 0 OID 0)
-- Dependencies: 342
-- Name: SEQUENCE supplier_payment_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.supplier_payment_id_seq TO anon;
GRANT ALL ON SEQUENCE public.supplier_payment_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.supplier_payment_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.supplier_payment_id_seq TO backup_user;


--
-- TOC entry 3939 (class 0 OID 0)
-- Dependencies: 325
-- Name: TABLE "user"; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public."user" TO anon;
GRANT ALL ON TABLE public."user" TO authenticated;
GRANT ALL ON TABLE public."user" TO service_role;
GRANT SELECT ON TABLE public."user" TO backup_user;


--
-- TOC entry 3941 (class 0 OID 0)
-- Dependencies: 324
-- Name: SEQUENCE user_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.user_id_seq TO anon;
GRANT ALL ON SEQUENCE public.user_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.user_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.user_id_seq TO backup_user;


--
-- TOC entry 3942 (class 0 OID 0)
-- Dependencies: 329
-- Name: TABLE worker_payment; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.worker_payment TO anon;
GRANT ALL ON TABLE public.worker_payment TO authenticated;
GRANT ALL ON TABLE public.worker_payment TO service_role;
GRANT SELECT ON TABLE public.worker_payment TO backup_user;


--
-- TOC entry 3944 (class 0 OID 0)
-- Dependencies: 328
-- Name: SEQUENCE worker_payment_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.worker_payment_id_seq TO anon;
GRANT ALL ON SEQUENCE public.worker_payment_id_seq TO authenticated;
GRANT ALL ON SEQUENCE public.worker_payment_id_seq TO service_role;
GRANT SELECT,USAGE ON SEQUENCE public.worker_payment_id_seq TO backup_user;


--
-- TOC entry 2419 (class 826 OID 16494)
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- TOC entry 2420 (class 826 OID 16495)
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- TOC entry 2418 (class 826 OID 16493)
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- TOC entry 2422 (class 826 OID 16497)
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- TOC entry 2441 (class 826 OID 16492)
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO service_role;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT ON TABLES TO backup_user;


--
-- TOC entry 2421 (class 826 OID 16496)
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO service_role;


-- Completed on 2026-03-27 10:30:19

--
-- PostgreSQL database dump complete
--

\unrestrict v0GdFanopIoqvI8t8matcSw9Hagfk4Nrj2rh6CwfDu3d4Ecp5AKEPFig4TUPg0B

